/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 
/ 20 / 24 / 30 / 36 
/ 44 / 52 / 62 
/ 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS
#149ddd
#37b3ed hover
#2eafec 
#1f5297
#173b6c
#050d18

#e4edf9
- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 
/ 24 / 32 / 48 
/ 64 / 80 / 96 / 128
*/

/* ******************navbar************* */

body {
  background-color: #1a2a44;
  /* background-color: #e9ebee; */

  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #f2f2f2;
}
.header {
  font-size: 1.4rem;
}
.logo {
  /* background-image: url(../images/IB.png); */
  color: #ff6969;
  text-align: start;
}
.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2rem;
  padding-right: 0;
}

.anchor:link,
.anchor:visited {
  text-decoration: none;
  color: #e6e6e6;
}

.anchor:hover,
.anchor:active {
  text-decoration: none;
  color: #ff6969;
}

.last-child:link,
.last-child:visited {
  color: #ff6969;
  border: 1px solid #ff6969;
  padding: 0.4rem 0.7rem;
  border-radius: 7px;
}

.last-child:hover,
.last-child:active {
  color: #ff6969;
}
/* .hero-image {
  padding-left: 5rem;
} */
.hero-heading {
  color: #cc5454 !important;
  font-size: 2.4rem;
}
.hero-p {
  line-height: 2rem;
}

br {
  line-height: 1rem;
}

.btn-p {
  background-color: #ff6969;
  padding: 0.75rem 2rem;
  color: #e6e6e6;
  border: 1px solid #803535;
}
.btn-s {
  color: #ff6969;
  background-color: transparent;
  border: 1px solid #ff6969;
}
.hero-image {
  align-items: center;
}
/* btn-p:hover{
  color: #b34a4a:
  transition: all 0.5sec;
}

btn-p:hover{
  color: #b34a4a:
} */
.about-section {
  background-color: #cc5454;
  background-color: #e65f5f;

  border-radius: 5px;
  box-shadow: 0 0.5rem 0.9rem #e65f5f;
}
.about-heading {
  color: #1a2a44 !important;
  margin-bottom: 2rem !important;
}
.about-p {
  line-height: 2rem;
  margin-bottom: 2rem;
}

.about-break {
  border-bottom: 1px solid #070b11;
  max-width: 12rem;
}

.btn-a-r {
  color: #070b11;
  background-color: transparent;
  border: 0.1px solid #070b11;
  border-radius: 3px;
}

.btn-a-r:hover {
  color: #e6e6e6;
  background-color: #1a2a44;
  border: 1px solid #070b11;
}

.services-heading {
  color: #66b3b3 !important;
  /* text-align: center; */
  margin-bottom: 2rem;
}

.services-break {
  border-bottom: 1px solid #66b3b3;
  max-width: 12rem;
  /* margin: 0 auto; */
}

.feature-img {
  display: inline-block;
  max-width: 5rem;
  height: auto;
  /* border-radius: 0.3rem !important; */
}
.feature-heading {
  color: #4da6a6 !important;
  font-size: 2rem;
}

.feature-paragraph {
  line-height: 2rem;
  font-size: 1.2rem;
}

/* .m-bottom {
  margin-bottom: 4rem !important;
} */
.contact-heading {
  color: #1a2a44 !important;
}
.contact-us {
  background-color: #007373;

  border-radius: 5px;
  box-shadow: 0 0.5rem 0.9rem #007373;
}

.contact-us-img {
  display: inline-block !important;
  margin: 0 auto !important;
}

/* .contact-break {
  border: 1px solid #070b11 !important;
  max-width: 12rem;
} */
.input-border,
.input-border:link,
.input-border:visited {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #070b11;
  border-radius: 0.1rem;
}

.input-border:hover,
.input-border:active {
  border-bottom: 1px solid #070b11;
  border-radius: 0.11rem;
}
.label {
  display: inline-block;
  margin-bottom: 0.4rem !important;
}
input:focus {
  outline: none;
}
*:focus {
  outline: none !important;
  /* background-color: transparent !important; */
  border-bottom-color: #070b11 !important;
}

/* .cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
} */

.btn-contact {
  padding: 0.3rem 0.8rem;
}

.edit-link:link,
.edit-link:visited {
  color: #070b11;
  text-decoration: none;
}

.footer-incl {
  color: #ff6969 !important;
}
.footer-heading {
  color: #ff6969 !important;
}
.footer-heading-break {
  border-bottom: 1px solid #b34a4a;
  max-width: 12rem;
  margin: 0 auto;
}
.projects {
  background-color: transparent !important;
}

.projects-heading {
  color: #070b11 !important;
}

.card-background-color {
  background-color: #e8bcb9;
}

.btn-project,
.btn-project:link,
.btn-project:visited {
  color: #f2f2f2;
  background-color: #2e4f7b !important;
  border-radius: 0.1rem;
}

.btn-project:hover,
.btn-project:active {
  background-color: #070b11 !important;
  border-radius: 0.11rem;
}
